<div class="header">
  <div class="top_bar">
    <div class="left_part">
      <div class="telephone">
        <img src="assets/image/header/telephone-forward.svg" alt="телефон: ">
      </div>
      <div class="number">
        +7-921-888-96-17
      </div>
      <div class="e_mail_img">
        <img src="assets/image/header/envelope.svg" alt="e-mail: ">
      </div>
      <div>
        <a href="mailto:sales@myshop.com">sales@myshop.com</a>
      </div>
    </div>
    <app-geo></app-geo>
    <div class="right_part">
      <div *ngIf="isLogin; then login,else notLogin"></div>
      <ng-template #login>
        <app-user-board></app-user-board>
      </ng-template>
      <ng-template #notLogin>
      <app-userauth ></app-userauth>
      </ng-template>
    </div>
  </div>
  <div class="menu_bar">
    <div class="logo"><a href="">My-shop</a></div>
    <div class="search">
      <form action="" class="search_form">
        <div class="form_search_input">
          <input type="search" required="required" placeholder="Введите наименование продукта...">
        </div>
        <div class="run_search">
          <button type="submit"><img src="assets/image/header/search.svg" alt="Поиск"></button>
        </div>
      </form>
    </div>
   <app-menucart></app-menucart>
  </div>
  <div class="categories">
    <div class="cat_header">
      <div class="cat_img">
        <img src="assets/image/header/justify.svg" alt=""/>
      </div>
      <div class="cat_text">
        Категории
      </div>
    </div>
    <div class="categories_nav">
      <a class="link_categories" href="">Главная</a>
    </div>
    <div class="categories_nav">
      <a class="link_categories" href="">Доставка</a>
    </div>
    <div class="categories_nav">
      <a class="link_categories" href="">О здоровье</a>
    </div>
    <div class="categories_nav">
      <a class="link_categories" href="">Контакты</a>
    </div>
  </div>
  <div class="categories_pic">
    <div class="categories_flex_column">
      <div class="cat_item">
        Лекарства
      </div>
      <div class="cat_item">
        <a class="link_categories" href="">Витамины и добавки</a>
      </div>
      <div class="cat_item">
        <a class="link_categories" href="">Гигиена</a>
      </div>
      <div class="cat_item">
        <a class="link_categories" href="">Зрение</a>
      </div>
      <div class="cat_item">
        <a class="link_categories" href="">Тесты</a>
      </div>
      <div class="cat_item">
        <a class="link_categories" href="">Показать все</a>
      </div>
    </div>
    <div class="picture">
      <img src="assets/image/header/logo3.jpg" alt="картинка">
    </div>
  </div>
</div>
